body {
    padding-top: 50px;
}

.starter-template {
    padding: 40px 15px;
    /*text-align: center;*/
}

h3 {
    text-align: center;
}

/*span.range-number {*/
    /*background: #2aabd2;*/
/*}*/

/*table span {*/
    /*font-size: 1.2em;*/
/*}*/

tr {
    cursor: pointer;
}

td.courses-cell {
    padding: 0 !important;
    cursor: auto;
}

div.courses {
    padding: 8px;
    font-size: 1.2em;
}

p.course {
    float: left;
    width: 40%;
}

.conclusion-checkbox {
    font-size: 0.75em;
    float: left;
    width: 33%;
    height: 10px;
}

.support-confidence-form {
    margin-bottom: 20px;
}

#rules-table {
    margin-top: 20px;
    clear: both;
}

.support-form-group, .confidence-form-group {
    font-size: 20px;
}

/*.float-input {*/
    /*float: left;*/
    /*width: 25%;*/
/*}*/